---
type Props = {
    destination:string;
    message: string
}

const {destination} = Astro.props;
const {message} = Astro.props;
---

<div class="pb-12">
    <a href={destination} class="scroll-text">
        <div class="scroll-text-slide">
            <h2 class="sm:text-5xl text-4xl text-white azeret-bold">{message}</h2>
            <h2 class="sm:text-5xl text-4xl text-white azeret-bold">{message}</h2>
            <h2 class="sm:text-5xl text-4xl text-white azeret-bold">{message}</h2>
        </div>
        <div class="scroll-text-slide">
            <h2 class="sm:text-5xl text-4xl text-white azeret-bold">{message}</h2>
            <h2 class="sm:text-5xl text-4xl text-white azeret-bold">{message}</h2>
            <h2 class="sm:text-5xl text-4xl text-white azeret-bold">{message}</h2>
        </div>
    </a>
</div>

<style>
    .scroll-text {
        display: flex;
        position: relative;
        width: 100%;
        height: 85px;
        background-color: black;
        overflow: hidden !important;
        white-space: nowrap;
        z-index: 1;
    }
    .scroll-text-slide {
        animation: scrollMessage 50s infinite linear;
        display: inline-block;
        justify-content: space-between;
        align-self: center;
        position: relative;
        white-space: nowrap;
    }
    .scroll-text h2 {
        display: inline-block;
        margin: 0 40px;
        color: white;
    }
    @keyframes scrollMessage {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0%);
        }
    }
    </style>